@charset "UTF-8";

body{
    background-color: rgba(0, 0, 0, 0.596);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    color: white;
    text-align: center;
    padding: 10px;
}

div{
    text-align: center;
}

section{
    background-color: white;
    margin: auto;
    width: 500px;
    padding: 10px;
}

img{
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 100%;
   
}

footer{
    text-align: center;
    color: rgb(87, 86, 86);
}