h1{
  text-align: center;
  background-color: rgb(223, 223, 223);
}

.produto p{
  display: inline;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 1px;
}

img{
  width: 200px;
  border: 2px solid rgb(189, 188, 188);
  border-radius: 1px;
}

/* .container{
  position: absolute;
  height: 300px;
} */

#carrinho{
  position: fixed;
  top: 80px;
  right: 20px;
  width: 20px;

}

footer{

 text-align: center;
}